:root {
  --black: oklch(0.000 0.000 0.0);
  --grey: oklch(0.600 0.000 0.0);
  --light-grey: oklch(0.808 0.000 0.0);
  --desktop-blue: oklch(0.528 0.104 251.5);
  --window-grey: oklch(0.859 0.012 84.6);
  --blue: oklch(0.295 0.126 264.2);
  --light-blue: oklch(0.818 0.071 248.7);
  --tooltip-yellow: oklch(0.992 0.039 107.1);
  --white: oklch(1.000 0.000 0.0);
}

::selection {
  color: var(--white);
  background: var(--blue);
}

@font-face {
  font-family: "Tahoma";
  src: url(/fonts/tahoma.ttf); 
}

@font-face {
  font-family: "Tahoma Bold";
  src: url(/fonts/tahomabd.ttf); 
}

@font-face {
  font-family: "Classic Console Neue";
  src: url(/fonts/clacon2.ttf);
}

body {
  font-family: "Tahoma";
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background: var(--blue);
  color: var(--white);
}

header > h1 {
  font-family: "Tahoma Bold";
  font-size: 1.5rem;
}

header > img {
  width: 48px;
  height: 48px;
}

a {
  color: #0000FF;
  text-decoration: none;
  border-bottom: 1px dotted;
}

a:hover {
  border-bottom: 1px solid;
}

strong {
  font-family: "Tahoma Bold";
}

em {
  font-style: italic;
}

nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  background: var(--light-blue);
  height: 2.5rem;
}

nav > a {
  border-bottom: 1px dotted transparent;
}

nav > span.current {
  border-bottom: 1px dotted transparent;
  color: var(--grey);
  cursor: default;
}

main {
  max-width: 40rem;
  margin: 0 auto 0 0;
  padding: 1rem;
}

main > .tooltip {
  background: var(--tooltip-yellow);
  border: 1px solid var(--black);
  padding: 0.5rem;
  width: fit-content;
  margin: 0 0 1rem 0;
}

main > article > p.break-words {
  word-break: break-all;
  word-wrap: break-word;
}

main > article > menu {
  list-style: number;
}

main > article > small {
  display: block;
  color: var(--grey);
}

main h2 {
  font-family: "Tahoma Bold";
  font-size: 1.2rem;
  margin: 0 0 1rem 0;
}

main > article > p {
  margin: 1rem 0;
  line-height: 1.3rem;
}

main > article > p > sup {
  top: -0.5em;
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

main > article > figure > img {
  width: 100%;
  padding: 0.25rem;
  border: 1px solid var(--light-grey);
  margin-bottom: -2rem;
}

main > article > figure > figcaption {
  font-size: small;
  margin-left: 0.5rem;
  padding: 0.25rem;
  background: #FFFFFFAA;
  z-index: 1;
  position: relative;
  display: inline-block;
}

hr {
  border: none;
  border-bottom: 2px solid var(--desktop-blue);
  margin: 1rem auto;
  width: 10rem;
}

h3 {
  font-family: "Tahoma Bold";
  font-size: 1rem;
  margin: 0 0 1rem 0;
}

main > ul, menu {
  list-style: square;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 0 1rem 2rem;
}

code {
  font-family: "Classic Console Neue";
  font-size: 16px;
}

footer {
  display: flex;
  gap: 0.25rem;
  background: var(--light-grey);
  padding: 1rem;
}

footer > a {
  border-bottom: none;
  height: 15px;
}

footer > a:hover {
  border-bottom: none;
}
